
.product-img img{
    width: 220px;
}
.product-containt{
    display: flex;
    margin-left: 20px;
    
}
.product-diteils{
    margin-left: 10px;
    text-align: left;
}
button{
    margin-bottom: 10px;
    background-color: rgb(255, 123, 0);
    color: rgb(255, 255, 255);
    border-radius: 6px;
    padding: 5px 10px;
}